---
import { Icon } from 'astro-icon/components'

const today = new Date();

---

<footer>
	&copy; {today.getFullYear()} Skysport AB. All rights reserved.
	<div class="social-links items-center">
			
			<a href="https://facebook.com/skysport.se" target="_blank">
				<Icon name="logos--facebook (5)" class="text-5xl"/>
				<span class="sr-only">Follow Astro on Mastodon</span>
			</a>
			<a href="https://instagram.com/skysport_are" target="_blank">
				<span class="sr-only">Follow Astro on Twitter</span>
				<Icon name="logos--instagram-icon (5)" class="text-5xl"/>
			</a>
			<a href="https://vimeo.com/user58363115?fbclid=IwAR3oPCNzTwYeAfxtt3xHQBs413hMlK__4m6Gh4XUANqIiAzMZ70VkmA0_A8" target="_blank">
				<span class="sr-only">Go to Astro's GitHub repo</span>
				<Icon name="logos--vimeo-icon (1)" class="text-5xl"/>
			</a>
		

		</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
