---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import Logo from '@components/Logo.astro';
import { Icon } from 'astro-icon/components'
---

<header class="sticky inset-x-0 top-4 z-50 flex w-full flex-wrap text-sm md:flex-nowrap md:justify-start ">
	<nav class="relative mx-2 w-full rounded-[36px] border border-yellow-100/40 glass px-4 py-3 backdrop-blur-md dark:border-neutral-700/40 dark:bg-neutral-800/80 dark:backdrop-blur-md md:flex md:items-center md:justify-between md:px-6 md:py-0 lg:px-8 xl:mx-auto"
    aria-label="Global">
	<!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
		<Logo />

		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/tandem">Tandem</HeaderLink>
			<HeaderLink href="/about">Kurser</HeaderLink>
			<HeaderLink href="/blog">Resor</HeaderLink>
			<HeaderLink href="/blog">Butik</HeaderLink>	
		</div>

		<div class="social-links items-center">
			
			<a href="https://facebook.com/skysport.se" target="_blank">
				<Icon name="logos--facebook (5)" class="text-5xl"/>
				<span class="sr-only">Follow Astro on Mastodon</span>
			</a>
			<a href="https://instagram.com/skysport_are" target="_blank">
				<span class="sr-only">Follow Astro on Twitter</span>
				<Icon name="logos--instagram-icon (5)" class="text-5xl"/>
			</a>
			<a href="https://vimeo.com/user58363115?fbclid=IwAR3oPCNzTwYeAfxtt3xHQBs413hMlK__4m6Gh4XUANqIiAzMZ70VkmA0_A8" target="_blank">
				<span class="sr-only">Go to Astro's GitHub repo</span>
				<Icon name="logos--vimeo-icon (1)" class="text-5xl"/>
			</a>
			<div class="drawer drawer-end ">
				<input id="kontakt-drawer" type="checkbox" class="drawer-toggle" />
				<div class="drawer-content  py-4 pl-4">
					<!-- Page content here -->
					<label for="kontakt-drawer" class="pt-0.5 text-secondary/90 drawer-button btn btn-primary btn-ghost hover:text-white btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl">Kontakt</label>
				</div>
				<div class="drawer-side">
					<label for="kontakt-drawer" aria-label="close sidebar" class="drawer-overlay">X</label>
					<ul class="menu bg-base-200 min-h-full w-80 p-4">
					<!-- Sidebar content here -->
					<li><a>Sidebar Item 1</a></li>
					<li><a>Sidebar Item 2</a></li>
					</ul>
				</div>
			</div>		
		<!-- 			
			<a href="https://vimeo.com/user58363115?fbclid=IwAR3oPCNzTwYeAfxtt3xHQBs413hMlK__4m6Gh4XUANqIiAzMZ70VkmA0_A8" target="_blank">
				<span class="sr-only">Go to Astro's GitHub repo</span>
				<div class="tooltip  tooltip-left" data-tip="Kontakt">
					<button class="btn btn-primary btn-circle btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl"><Icon name="solar--info-circle-linear (1)" class="text-5xl"/></button>
				</div>
			</a>
			 -->
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0 auto;
		padding: 0 1em;
		width: calc(100% - 10vw);
		/*
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		*/
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
