---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import Logo from '@components/Logo.astro';
import { Icon } from 'astro-icon/components';

---

<header class="sticky inset-x-0  z-50 flex w-full flex-wrap text-sm md:flex-nowrap md:justify-start ">
	<nav class="relative w-full h-content border border-yellow-100/40 bg-white/50 p-0 lg:px-4 lg:py-3 backdrop-blur-md  md:flex md:items-center md:justify-between sm:px-0 md:px-2 md:py-0 lg:px-8 xl:mx-auto" aria-label="Global">
	<div class="navbar p-0 w-full flex justify-start lg:justify-between ">
		<div class="navbar-start w-full p-0 lg:min-w-sm lg:w-16">		
			<Logo />
		</div>
		<div class="navbar-center hidden lg:flex menu menu-horizontal px-1">
			<div class="internal-links">
				<HeaderLink href="/">BUTIK</HeaderLink>
				<HeaderLink href="/tandem">TANDEM</HeaderLink>
				<HeaderLink href="/about">KURS</HeaderLink>
				<HeaderLink href="/blog">RESOR</HeaderLink>
				<HeaderLink href="/blog">OM OSS</HeaderLink>	
			</div>
		</div>
		<div class=" lg:w-content pl-0 flex-none">
			<div class="social-links flex flex-row flex-end">	
				<a href="https://facebook.com/skysport.se" target="_blank">
					<Icon name="logos--facebook (5)" class=" sm:text-2xl md:text-3xl xl:text-5xl"/>
					<span class="sr-only">Follow Astro on Mastodon</span>
				</a>
				<a href="https://instagram.com/skysport_are" target="_blank">
					<span class="sr-only">Follow Astro on Twitter</span>
					<Icon name="logos--instagram-icon (5)" class=" sm:text-3xl md:text-3xl xl:text-5xl "/>
				</a>
				<a href="https://vimeo.com/user58363115?fbclid=IwAR3oPCNzTwYeAfxtt3xHQBs413hMlK__4m6Gh4XUANqIiAzMZ70VkmA0_A8" target="_blank">
					<span class="sr-only">Go to Astro's GitHub repo</span>
					<Icon name="logos--vimeo-icon (1)" class=" sm:text-3xl md:text-3xl xl:text-5xl "/>
				</a>
				<div class="drawer drawer-end ">
					<input id="kontakt-drawer" type="checkbox" class="drawer-toggle" />
					<div class="drawer-content  py-4 pl-4">
						<label for="kontakt-drawer" class="pt-0.5 text-secondary/90 drawer-button btn btn-primary btn-ghost hover:text-white btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl">Kontakt</label>
					</div>
					<div class="drawer-side ">
						<label for="kontakt-drawer" aria-label="close sidebar" class="drawer-overlay">X</label>
						<ul class="menu bg-base-200 min-h-full w-80 p-4">
							<li><a>
								<Icon name="mdi-light--phone" class=" sm:text-l md:text-l xl:text-xl "/>
								0674-51186</a></li>
							<li><a>070-5699089</a></li>
						</ul>
					</div>
				</div>
				</div><!-- end social links -->
			</div>
		</div><!-- end daisy nav bar -->
	</nav>
</header>
<style>
	header {
		margin: 0 auto;
		padding: 0;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 3px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 1019px) {
		nav a {
			padding: 0.5em 0.5em;
			color: var(--black);
			text-decoration: none;
		}
		nav a.active {
			text-decoration-line: underline;
			text-decoration-color: var(--skysport-600);
			text-underline-offset: 4px;
			text-decoration-thickness: 2px;
			border: none;
		}
		nav a:hover {
			text-decoration-line: underline;
			text-decoration-color: var(--orange-600);
			text-underline-offset: 4px;
			text-decoration-thickness: 4px;

		}
	}
	@media (max-width: 869px) {
		.social-links {
			display: none;
		}
	}

.trigger {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    border: 2px solid #fff;
    border-radius: 10px;
    transform: translateX(-50%) translateY(-50%);
}

.bars {
  width: 60px;
  cursor: pointer;
}
.bars .line {
  fill: none;
  stroke: #22427A;
  stroke-width: 4;
  stroke-linecap: square;
  transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
}
.bars .line.top {
  stroke-dasharray: 40 172;
}
.bars .line.middle {
  stroke-dasharray: 40 111;
}
.bars .line.bottom {
  stroke-dasharray: 40 172;
}
.bars.active .top {
  stroke-dashoffset: -132px;
}
.bars.active .middle {
  stroke-dashoffset: -71px;
}
.bars.active .bottom {
  stroke-dashoffset: -132px;
}

  </style>
